{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="main">
    {% if messages %}
    <div class="messages" >
    {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    {% include "auths/social.html"%}
    <form method="post" action="{% url 'reg' %}">
            {% csrf_token %}
            {{ user_form.as_p }}
            <div class="button reg">
                <input type="submit" name="" value="Register">
            </div>
    </form>
    <form action="{% url 'login' %}">
    <div class="have">
        <p>registred???</p>
    </div>    
        <input type="submit" value="Login" />
   </form>
   {% endblock content %}
</div>
</body>
</html>
